div.autoSearch {
    display: inline-block;
    height: fit-content;
    z-index: 10;
}

ul.autoSearch-ul { 
    z-index: 10;
    position: absolute;
    top: 92px;
    left: 4px;
    border-top: 1px solid rgb(216, 212, 212);
    border-bottom: 1px solid rgb(216, 212, 212);
    width: calc(100% - 7px);
}

li.autoSearch-li {
    font-family: Montserrat;
    font-size: 15px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    border-bottom: 1px solid #f0efef;
}

li.autoSearch-li:hover{
    background-color: rgb(238, 234, 234);
}