.category-ul {
    cursor: pointer;
    overflow: visible;
    width: 175px;
    text-align: left;
}

.subCategory-ul > li {
    display: none;
}

li.category-li:hover {
    background-color:lightgrey;
    cursor: pointer;
    ul.subCategory-ul {
        cursor: pointer;
        display: block;
        z-index: 0;
        position: absolute;
        margin-top: 42px;
        margin-right: 10px;
        top: 2px;
        right: 0;
        width: 172px;
        height: 325px;
        background: #eee;
        li {
            display: block;
            padding: 10px;
        }
    }
}  

.category-ul > li {
    cursor: pointer;
    display: block;
    padding: 14px 10px 15px;
    font-size: 14px;
    border-right: 1px solid #bbb;
}
.subCategory-ul > li {
    cursor: pointer;
    background: #ddd;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}