.expense-form, .child-modal, .addFriend-form {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #999;
    overflow: hidden;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    width: 400px;
    font-family: Montserrat;
}

.expense-form.onScreen {
    transition: 0.5s opacity;
    animation: fadeIn 2s ease-in-out;
}

.expense-form.offScreen {
    transition: 0.5s opacity;
    animation: fadeOut 2s ease-in-out;
}

@keyframes fadein {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes fadeOut {
  0% {opacity: 1}
  100% {opacity: 0}
}

.child-modal{
    margin-left: 10px;
}

div.pfields  { 
    margin: 10px 0; 
    // border-bottom: 1px solid rgb(216, 212, 212);
    // padding-bottom: 10px;
}

div.pfields > label {
    color: rgb(43, 41, 41);
    font-size: 15px;
    margin: 6px;
}

div.pfields > label > input {
    margin-left: 7px;
    width: 248px;
    padding: 5px 10px;
}

.expense-secondary-fields{
    display: block;
    border-top: 1px solid #d8d4d4;
}

.expense-form-header, .child-modal-header, .expense-details-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1cc29f;
    height: fit-content;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-style: inset;
    text-shadow: 0 -1px 0 #318a71;
    font-size: 18px;
}

.child-modal-header,.expense-details-header {
    margin-left: 0;
}

.expense-form-header > button {
    text-shadow: 0 -1px 0 #318a71;
    cursor: pointer;
}

.footer-buttons, .complete{
    border-top: 1px solid rgb(231, 229, 229);
    display: flex;
    justify-content: flex-end;
}

.footer-bottoms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-buttons > button {
    border: 1px solid rgb(231, 229, 229);
    padding: 8px 12px;
    margin: 8px 3px;
    border-radius: 5px;
    font-size: 15px;
}

.footer-buttons > button:first-of-type {
    background-color: rgb(245, 242, 242);
}

.footer-buttons > button:last-of-type, .complete > button {
    background-color: #1cc29f;
    color: white;
    text-shadow: 0 -1px 0 #318a71;
}

.slim-buttom:first-of-type {
    display: flex;
    align-items: space-around;
    justify-content: center;
}

.slim-buttom{
    background-color: rgb(245, 242, 242);
    color: #666;
    border-radius: 10px;
    border: 1px solid  rgb(218, 214, 214);
    padding: 3px 18px;
    margin: 5px;
    font-size: 13px;
}
.slim-buttom:last-of-type {
    width: 120px;
    text-align: center;
}

.expense-form-eles {
    margin: 5px;
}
    // border-bottom: 1px solid #e7e5e5;
.expense-form-eles > label:first-of-type{
    margin: 5px;
    padding: 10px 5px;
}

::placeholder {
  color: #e7e5e5
}

.expense-form-eles > label:first-of-type > input {
    width: calc(100% - 150px);
    margin-left: 5px;
}

.main-fields {
    display: flex;
    justify-content: space-around;
    margin: 20px 10px;
}

.main-fields > input {
    width: 70px;
    height: 70px;
    margin: 10px;
    text-align: center;
}

div.main-fields > figure > figcaption {
    text-align: center;
    // padding-left: 15px;
}

.categories {
    width: 356px;
}

.main-fields > figure > img {
    height: 80px;
    width: 80px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 15px;
}

figure {
    margin-top: 30px;
    margin-right: 10px;
}

.main-fields-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-fields-right > input{
    font-size: 20px;
    height: 40px;
    border-bottom: 1px dotted #dad6d6;
}

.main-fields-right > input:last-of-type {
    height: 40px;
    font-size: 25px;
}

.main-fields-right > input:first-of-type::placeholder {
    font-size: 20px;
}

.main-fields-right > input:last-of-type::placeholder {
    font-size: 36px;
    font-weight: bold;
}

div.human-summary {
    font-size: 14px;
    color: rgb(43, 41, 41);
    text-align: center;
}

.payer, .split {
    color: #1cc29f;
    border: 1px dotted #dad6d6;
    padding: 3px 6px;
    border-radius: 11px;
}
.payer {
    margin-right: 2px;
}

div.details {
    margin: 7px;
}