.enter-email{
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    margin: 10px 5px;
}    

.lemail {
    font-size: 20px; 
}

label.lemail > input.input-email{
    width: 265px;
    padding: 5px 0;
    font-size: 15px;
}
.invite-friend{
    width: 300px;
    height: fit-content;
    text-align: center;
}
