.signup-form > h3 {
    font-size: 18px;
    color: #878787;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.form > label, .form > .appear > label {
    font-size: 25px;
}

// why is this not wokring?
div.appear {
  transition-delay: 1s;
//   transform: scale(2);
}

.form > label > input, .form > .appear > label > input{
    border: 1px solid #adadad;;
    border-radius: 3px;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
}

.signup-form {
    display: flex;
    margin-top: 50px;
    width: 750px;
    margin: auto;
}

.signup-form input[type=text]:focus, .signup-form input[type=password]:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.form > button {
    background-color:#ff6500; 
    color: white;
    font-size: 30px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #E65B00;
    border-style: outset;
}

.form > button:hover {
    background-color:#E65B00;
}

.signup-form > .form > p:first-of-type {
    color: rgba(18, 154, 234, 1);
    margin-top: 10px;
    padding: 10px 0;
}

.signup-form > .form > p:last-of-type {
    color: black;
    padding: 10px 0;
}

.signup-form > .form {
    margin-top: 60px;
}


.signup-form > img {
    display: none;
}

@media (min-width: 750px) {
  /* Probably some parent element that limits the img width */
  .signup-form > img {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-top: 60px;
    // margin-bottom: 250px;
    margin-right: 50px;
  }
}



