div > h1, .welcome > .left-Nav > h1 {
    font-size: 20px;
    font-weight: bold;
    font-family: Montserrat;
    padding-top: 5px;
    margin-left: 10px;
}

.login-signup > div > img, .welcome > .left-Nav > img, .welcome > .right-nav > img {
    display: inline-block;
    height: 20px;
    width: 20px;
    padding-top: 5px;
}

div.login-signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
}

.login-signup > div {
    display: flex;
    flex-direction: wrap row;
}

a.login {
    font-family: 'Montserrat';
    color: #1cc29f;
    align-content: center;
    padding-top: 10px; 
    font-weight: bold;
}

a.signup {
    font-family: Montserrat;
    color: white;
    background-color: #1cc29f;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0px 2px #878787;
    margin-left: 20px;
}

.greeting {
    height: 41px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
}

div.logout-notice {
    font-family: Montserrat;
    background-color:lightgoldenrodyellow;
    border: 1px solid #D0D0D0;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

div.splash {
    display: flex;
    flex-flow: column;
    background-color: white;
}

.home-page{
    background-image: linear-gradient(white, #ffffff90), url(https://rachanavishwanath-personal.s3-us-west-1.amazonaws.com/background.png);
    height: 100vh;
    position: relative;
    background-repeat: repeat;
    background-size: 50px;
    text-align: center;
    line-height: 1.2;
    display: flex;
    justify-content: space-around;
}

.home-page > section:last-of-type > img{
    margin-top: 100px;
    height: 400px;
    width: 400px;
}

p.app-line {
    font-family:'Montserrat';
    display: inline-block;
    position: absolute;
    width: 400px;
    top: 150px;
    left: 100px;
    font-size: 50px;
    font-weight: bold;
}

.app-line2 {
    font-family:'Montserrat';
    display: inline-block;
    position: absolute;
    top: 400px;
    left: 100px;
    font-size: 20px;
    width: 400px;
    font-weight: bold;
}

