.split-option-slim-buttons{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 20px;
    button{
        width: calc(100% - 100px);
        padding: 5px 0;
    }
}
.split-expense {
    background-color: #1cc29f;
    border: 1px solid #36977b;
    color: white;
    &:hover {
       background-color: #50bd9e; 
    }
}

.split-option-slim-buttons > button.they-owe-full, .split-option-slim-buttons > button.you-owe-full {
    width: calc(100% - 100px);
    &:hover {
        background-color: rgb(233, 228, 228);
    }
}

ul.split-options-ul {
    border-top: 1px solid rgb(233, 228, 228);
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    li{
        position: relative;
        background-color: #f5f2f2;
        color: #666;
        border: 1px solid #dad6d6;
        padding: 5px 10px;
        &:hover{
            background-color: rgb(233, 228, 228);
        }
    }
}
.fa-caret-down{
    display: none;
}

.on-hover-show {
    display: none;
    background-color: black;
    color: white;
    position: absolute;
    font-size: 13px;
    padding: 5px 10px;
    bottom: 40px;
    width: fit-content;
}

.split-options-li:hover .on-hover-show{
    display: block;
}

.split-options-li:hover .fa-caret-down{
    display: inline-block;
}