.welcome {
    background-color: #1cc29f;
    display: flex;
    justify-content: space-around;
}

.welcome > .right-nav > p {
    font-size: 15px;
    font-family: Montserrat;
    padding-top: 5px;
    margin-left: 10px;
    position: relative;
}

.welcome > .left-Nav, .welcome > .right-nav  {
    display: flex;
    flex-flow: row;
    padding: 8px;
    color: white
}

.account-drop-down {
    display: none;
}

.welcome > .right-nav:hover > .account-drop-down {
    font-family: Montserrat;
    position: absolute;
    top: 40px;
    right: 290px;
    display: flex;
    flex-flow: column;
    padding: 5px;
    padding-right: 15px;
    color: black;
    background-color: white;
    border: 0.5px solid #adadad;
    border-radius: 5px;
}

.account-drop-down > a {
    padding: 5px 20px;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    margin-top: 13px;
    margin-left: 5px;
}
